<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">¡Conóceme!</h2>
                <hr class="light">
                <p class="text-faded">Me llamo Miguel Ángel Vázquez Luna y soy traductor de inglés y de francés hacia el español. Además, soy
                traductor-intérprete jurado de francés (Nº TIJ 9335) nombrado por el Ministerio de Asuntos Exteriores.</p>
                <p class="text-faded">En el año 2010 me licencié en Traducción en la Universidad de Granada y en 2012 terminé el Máster en Traducción Audiovisual de la Universidad Autónoma de Barcelona. Desde entonces, trabajo como traductor freelance y he realizado
                traducciones de diversa índole: jurídica, técnica y, sobre todo, audiovisual (doblaje y subtitulado).</p>
                <p class="text-faded">He vivido cuatro años en Francia, donde trabajé como auxiliar de conversación, profesor adjunto en la École de Mangement de Grenoble y como traductor.</p>
                <p class="text-faded">En la actualidad, mi vida transcurre a caballo entre Málaga y Boston, Estados Unidos.</p>
                <a href="#contact" class="btn btn-default btn-xl">¡Contáctame!</a>
            </div>
        </div>
    </div>
</section>
