<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Servicios</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-film wow bounceIn text-primary"></i>
                    <h3>Traducción audiovisual</h3>
                    <p class="text-muted">Traducción para el doblaje y voice-over</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-indent wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Ajuste</h3>
                    <p class="text-muted">Ajustes de guiones para doblaje y voice-over</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-text-width wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Subtitulado</h3>
                    <p class="text-muted">Creación y ajuste de subtitulos</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-cc wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Subtitulado para sordos</h3>
                    <p class="text-muted">Subtitulado adaptado para personas con discapacidad auditiva</p>
                </div>
            </div>
        </div>
    </div>
</section>
